In [19]:
import numpy as np
import pandas as pd

## Utility functions

In [3]:
def get_station_updates(city, station):
    df = pd.read_csv('challenge_data/{}/stations/{}.csv'.format(city, station))
    df['moment'] = pd.to_datetime(df['moment'])
    return df


def get_weather_updates(city):
    df = pd.read_csv('challenge_data/{}/weather.csv'.format(city))
    df['moment'] = pd.to_datetime(df['moment'])
    return df

## Feature extraction

In [44]:
def extract_time_features(df):
    df['weekday'] = df['moment'].apply(lambda m: m.weekday())
    df['hour'] = df['moment'].apply(lambda m: m.hour)
    df['minute'] = df['moment'].apply(lambda m: m.minute)

def add_weather_updates(city_df, city_name):
    weather_df = get_weather_updates(city_name)
    city_df.index = np.searchsorted(weather_df['moment'], city_df['moment'])
    joined_df = pd.merge(left=city_df, right=weather_df, left_index=True, right_index=True, how='right')
    joined_df.rename(columns={'moment_x': 'moment', 'moment_y': 'moment_weather'}, inplace=True)
    return joined_df


df = get_station_updates('toulouse', '00003-pomme')
df = add_weather_updates(df, 'toulouse')
df

,moment,bikes,spaces,moment_weather,clouds,description,humidity,pressure,temperature,wind
0,2016-04-01 00:08:18,8,10,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:09:18,8,10,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:20:19,6,12,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:21:18,5,13,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:22:18,3,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:23:21,3,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:23:56,2,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:25:13,3,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:25:23,4,13,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:32:20,4,13,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:33:18,5,12,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:34:01,5,12,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:44:08,5,13,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:44:40,5,13,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:45:59,4,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:49:09,4,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:50:14,4,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:51:19,3,15,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:51:50,4,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 00:52:25,4,14,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:02:29,3,15,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:08:12,3,15,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:08:55,3,15,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:09:57,3,15,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:11:16,2,15,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:21:18,2,16,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:22:49,2,16,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:32:52,1,17,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:42:56,1,17,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
0,2016-04-01 01:52:59,1,17,2016-04-02 00:01:58,0,clear sky,81,1017.00,3.15,1.50
...,...,...,...,...,...,...,...,...,...,...
10225,2016-10-05 08:26:20,4,13,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:30:55,4,13,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:32:20,4,13,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:36:53,2,15,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:40:57,2,15,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:41:44,2,15,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:44:18,4,13,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:48:16,4,13,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:51:42,4,13,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:56:57,5,12,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 08:57:48,5,12,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 09:02:42,3,14,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 09:04:37,4,13,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 09:05:46,5,12,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 09:08:18,6,11,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10225,2016-10-05 09:10:42,8,9,2016-10-05 09:11:07,76,broken clouds,94,1017.12,13.44,1.72
10226,2016-10-05 09:12:54,12,5,2016-10-05 09:28:02,76,broken clouds,94,1017.12,13.44,1.72
10226,2016-10-05 09:16:14,13,4,2016-10-05 09:28:02,76,broken clouds,94,1017.12,13.44,1.72
10226,2016-10-05 09:19:02,11,6,2016-10-05 09:28:02,76,broken clouds,94,1017.12,13.44,1.72
10226,2016-10-05 09:20:33,11,6,2016-10-05 09:28:02,76,broken clouds,94,1017.12,13.44,1.72
10226,2016-10-05 09:22:57,11,6,2016-10-05 09:28:02,76,broken clouds,94,1017.12,13.44,1.72
10226,2016-10-05 09:23:34,11,6,2016-10-05 09:28:02,76,broken clouds,94,1017.12,13.44,1.72
10226,2016-10-05 09:26:01,11,6,2016-10-05 09:28:02,76,broken clouds,94,1017.12,13.44,1.72
10227,2016-10-05 09:28:48,12,5,2016-10-05 09:52:45,88,overcast clouds,84,1017.34,17.45,1.95
10227,2016-10-05 09:32:34,12,5,2016-10-05 09:52:45,88,overcast clouds,84,1017.34,17.45,1.95
10227,2016-10-05 09:40:55,12,5,2016-10-05 09:52:45,88,overcast clouds,84,1017.34,17.45,1.95
10227,2016-10-05 09:42:34,13,4,2016-10-05 09:52:45,88,overcast clouds,84,1017.34,17.45,1.95
10227,2016-10-05 09:45:06,13,4,2016-10-05 09:52:45,88,overcast clouds,84,1017.34,17.45,1.95
10227,2016-10-05 09:46:29,13,4,2016-10-05 09:52:45,88,overcast clouds,84,1017.34,17.45,1.95
10227,2016-10-05 09:50:54,12,5,2016-10-05 09:52:45,88,overcast clouds,84,1017.34,17.45,1.95

## Let's go HAM